#change things if u want but this is for portfolio stuff i am gona keep it simple for now 
version: '3.8'
services:
  redis:
    image: redis:alpine
    container_name: redis-secured
    ports:
      - "6379:6379"
    command: >
      redis-server
      --requirepass 12345
      --appendonly yes          
      --save 60 1
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data: