.deck
{
    width: 100%;
    left: 0;
    height: 40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    z-index: 1;
}
.deck_hidden
{
    transform: translateY(80%);
    transition: transform 0.3s ease-out;
}
.deck_show
{
    transform: translateY(60%);
    transition: transform 0.3s ease-out;
}
.deck_handle
{
    background-color: black;
    width: 100%;
    text-align: center;
}
.carddeck_list
{
    display: flex;
    flex-direction: row;
    gap: 10;

}
.carddeck_list > .card
{
    --offset:0;
    width: 90%;
    height: 100%;
    max-width: clamp(80px, 12vw, 140px);
    max-height: clamp(160px, 24vw, 280px);
    border: 0;
    background-color: rgba(0, 223, 149, 0);
    position:absolute;
    transform-origin: bottom center;
    transition: transform 0.3s ease;
    z-index: 10;

}


.carddeck_list > .card_spawn{
    animation: cardspawnanimation 0.5s ease-in-out ;
}

@keyframes cardspawnanimation
{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(2);
    }
    100%
    {
        transform: scale(1);
    }
}


.carddeck_list > .card_hidden{
    transform:
     translateX(calc(-50% + var(--offset)*clamp(8px, 1.5vw, 15px)))
}

.carddeck_list > .card_show{
    transform:
    translateX(calc(-50% + var(--offset)*clamp(8px, 1.5vw, 15px)))
    rotate(calc(var(--offset)*5deg));
}

.carddeck_list > .card_mup{
    transform:
    translateX(calc(-50% + var(--offset)*clamp(8px, 1.5vw, 15px)))
    rotate(calc(var(--offset)*5deg));
}



.carddeck_list > .card_mdown
{
    transform:
    translateX(calc(-50% + var(--offset)*clamp(15px, 3vw, 30px)))
    translateY(clamp(-60px, -10vw, -100px))
    rotate(calc(var(--offset) * 0deg));
    z-index: 11;
}


.deck.carddeck_oppo.deck_show {
  transform: rotateX(180deg) translateY(80%);
}

.deck.carddeck_oppo.deck_hidden {
  transform: rotateX(180deg) translateY(93%);
}